.site-header {
  position: relative;
  margin-bottom: 16px;
  z-index: 10;
}

.site-header-inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.site-title {
  margin: 16px 16px 0 0;
  font-size: 24px;
}

.site-title-link {
  color: #333;
  text-decoration: none;
  transition: 150ms ease color;
}

.site-title-link:hover {
  color: #2196f3;
}

.site-nav {
  display: flex;
}

.site-nav-link {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
}

.site-nav-link::after {
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #2196f3;
  transition: 150ms ease height;
  content: '';
}

.site-nav-link:hover::after,
.site-nav-link.is-active::after {
  height: 3px;
}

.site-nav-link:not(:last-child) {
  margin-right: 16px;
}

@media (min-width: 550px) {
  .site-title {
    margin: 0;
    margin-right: 16px;
  }
  .site-nav {
    margin-bottom: 0;
  }
  .site-nav-link {
    line-height: 64px;
  }
}
